/project/pom.xml
/project/pom.xml.asc
/project/*jar
/project/lib/
/project/classes/
/project/target/
/project/checkouts/
/project/.lein-deps-sum
/project/.lein-repl-history
/project/.lein-plugins/
/project/.lein-failures
/project/.nrepl-port
/project/figwheel_server.log

/project/resources/public/js/

/datomic/.credentials
/datomic/config/
/datomic/data/
secret.env
project/resources/public/css/
