@import "normalize";
@import "global";
@import "signup";
@import "edit";
@import "build-list";
@import "uv";

.app-window {
		height: 100%;
}

.app-window-container {
		height: 100%;
		display: flex;
		box-orient: horizontal;
}

.app-panel {
		height: 100%;
}
.app-menu {
		flex: 1 1 auto;
		background-color: #333;
}
.app-primary {
		flex: 2 3 auto;
		background-color: grey;
}
.app-secondary {
		flex: 2 3 auto;
		background-color: #ccc;
}

div#app {
		height: 100%;
}
