.edit-container {
		width: 90%;
		margin: auto;
		background-color: white;
}

.edit-name {
}

.edit-value {
		right: 0px;
}

.edit-display-value {
		background-color: lightblue;
}

.edit-edit-value {
		width: 200px;
}

