.sup-background {
		margin: 10px;
}

.sup-button {
		color: #888;
		background-color: #222;
		border-radius: 5px;
}

.sup-button {
		padding: 10px;
		font-size: 1.5em;
}

.sup-github-icon {
		color: #ddd;
		margin-right: 10px;
}
